body, h1, h2, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	color: white;
	text-align: center;
}

body {
	margin: auto;
}

h1 {
	font-size: 400%;
	font-family: "Montserrat";
}

h3 {
	font-size: 200%;
	font-family: "Montserrat";
	color: black;
	margin: 5%;
}

div {
	padding: auto;
}

input.MyButton {
	text-align: center;
	width: 15%;
	padding: 2%;
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
	background: #3366cc;
	color: #fff;
	border: 1px solid #3366cc;
	border-radius: 10px;
}

input.MyButton:hover {
	color: #ffffff;
	background: #1a3366;
}

header {
	background: #0080ff;
	padding: 5%;
	width: 90%;
}